html
    head
        title HelloWorld
    body
        h1 this is an example of nested tags
        giv
            p this is under div which is under body tags
        p this is outside div
        footer this is a footer