//Numbered Lists -Default
ol(type='1')
    li element 1
    li element 2

//List with uppercase letters
ol(type='A')
    li element 1
    li element 2

//List with lowercase letters
ol(type='a')
    li element 1
    li element 2

//List with uppercase roman numbers
ol(type='I')
    li element 1
    li element 2

//List with lovercase roman numbers
ol(type='i')
    li element 1
    li element 2
