//Disc lists - default
ul(style='list-style-type:disc')
    li element 1
    li element 2
//Circle lists
ul(style='list-style-type:circle')
    li element 1
    li element 2
//Square lists
ul(style='list-style-type:square')
    li element 1
    li element 2
//None
ul(style='list-style-type:none')
    li element 1
    li element 2